@{
    ViewData["Title"] = "Access Denied";
}

<head>
    <link rel="stylesheet" href="~/css/movies.css">
</head>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You are not permitted to view this screen. Only Admin's may add new users.</h2>